*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #5859C9, #3ddfff);

}

.container{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    border-radius: 12px;
    background-color: white;
}

.head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
}
h1, p{
    display: inline;
}

h1 {
    font-size: 2.5rem;
    margin-right: 12px;
}
input, button {
    outline: none;
    border: none;
}

input{
    margin-top: 18px;
    width: 320px;
    border-radius: 28px;
    padding: 20px 0px 20px 14px;
    font-size: 18px;
    background-color: rgb(235, 243, 222);
}

.input button {
    color: white;
    background-color: rgb(255, 60, 60);
    padding: 24px 30px 20px 30px;
    border-radius: 28px;
    margin-left: -60px;
}

.tasks {
    padding: 12px;
    margin-top: 18px;
    margin-bottom: 14px;
}

.task {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}
.task img {
    width: 22px;
}

.task p{
    font-size: 20px;
    width: 280px;
    margin-left: 12px;
}
.task button {
    background-color: white;
    padding: 8px;
}